body {
  background-color: #dad8d1;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  margin: 30px auto;
  display: block;
  max-width: 400px;
}

.links {
  text-align: center;
}
.links a {
  color: #82370e;
  margin: 0 10px;
}
